# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Visual-Novel.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\My Unity Projects\Visual-Novel\.idea\.idea.Visual-Novel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
