# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Visual-Novel.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Work Projects\Visual-Novel\.idea\.idea.Visual-Novel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
